[submodule "social-media-icons"]
	path = 01 - Social Media Icons
	url = https://github.com/Rekuiem84/social-media-icons/
[submodule "futuristic-cards"]
	path = 02 - Futuristic Cards
	url = https://github.com/Rekuiem84/futuristic-cards/
[submodule "fullscreen-navbar"]
	path = 03 - Fullscreen Navbar
	url = https://github.com/Rekuiem84/fullscreen-navbar/
[submodule "random-color-generator"]
	path = 04 - Random Color Generator
	url = https://github.com/Rekuiem84/random-color-generator/
