[submodule "social-media-icons"]
	path = social-media-icons
	url = https://github.com/Rekuiem84/social-media-icons
[submodule "01 - Social Media Icons/social-media-icons"]
	path = 01 - Social Media Icons/social-media-icons
	url = https://github.com/Rekuiem84/social-media-icons
