[submodule "01 - Social Media Icons/social-media-icons"]
	path = 01 - Social Media Icons/social-media-icons
	url = https://github.com/Rekuiem84/social-media-icons
[submodule "02 - Futuristic Cards/futuristic-cards"]
	path = 02 - Futuristic Cards/futuristic-cards
	url = https://github.com/Rekuiem84/futuristic-cards/
[submodule "03 - Fullscreen Navbar/fullscreen-navbar"]
	path = 03 - Fullscreen Navbar/fullscreen-navbar
	url = https://github.com/Rekuiem84/fullscreen-navbar
[submodule "04 - Random Color Generator/random-color-generator"]
	path = 04 - Random Color Generator/random-color-generator
	url = https://github.com/Rekuiem84/random-color-generator
