*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--color-black: #101010;
}
html {
	color-scheme: dark;
	background-color: var(--color-black);
}
body {
	font-family: "Noto Sans Mono", monospace;
}
.header {
	position: absolute;
	top: 60px;
	right: 20px;
}
.burger-cont {
	display: grid;
	place-items: center;
	position: relative;
	width: 50px;
	aspect-ratio: 1;
	cursor: pointer;
	z-index: 10;
}
.burger__line {
	width: 40px;
	height: 4px;
	background-color: white;
	border-radius: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: 3;
	transition: background-color 0ms ease-in-out 250ms;
}
.burger__line::before,
.burger__line::after {
	content: "";
	width: 100%;
	height: 4px;
	left: 0;
	background-color: white;
	border-radius: 100px;
	position: absolute;
	z-index: 3;
	transform-origin: center;
	rotate: 0;
	transition: rotate 200ms ease-in-out 0ms, translate 200ms ease-in-out 250ms;
}
.burger__line::before {
	translate: 0 -12px;
}
.burger__line::after {
	translate: 0 12px;
}
.burger--active .burger__line {
	background-color: transparent;
	transition: background-color 1ms ease-in-out 200ms;
}
.burger--active .burger__line::before,
.burger--active .burger__line::after {
	translate: 0 0;
	transition: translate 200ms ease-in-out 0ms, rotate 200ms ease-in-out 250ms;
}
.burger--active .burger__line::before {
	rotate: 45deg;
}
.burger--active .burger__line::after {
	rotate: -45deg;
}

.color-selection-cont {
	position: absolute;
	width: 100%;
	top: 0;
	left: 50%;
	display: flex;
	flex-wrap: wrap;
	gap: 1.75rem 1rem;
	padding: 1rem;
	background: hsla(0, 50%, 100%, 0.1);
	translate: 0 -100%;
	transform: translateX(-50%);
	z-index: 2;
	transition: 0.3s ease-in-out;
}
.color-selection-cont[aria-hidden="false"] {
	translate: 0 0;
}
.color-selection-cont div {
	margin-inline: auto;
	display: flex;
	align-items: center;
	gap: 0.8rem;
}
.color-selection-cont[aria-hidden="true"] input {
	display: none;
}
.main-cont {
	display: grid;
	place-items: center;
	min-height: 100vh;
	min-height: 100dvh;
	padding: 12rem 2rem;
}
.cards-cont {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	gap: 5rem 3rem;
	width: min(100%, 1920px);
	margin-inline: auto;

	--Card1_Color1: #ff0058;
	--Card1_Color2: #ffbc00;
	--Card2_Color1: #03a9f4;
	--Card2_Color2: #ff0058;
	--Card3_Color1: #00d0ff;
	--Card3_Color2: #4dff03;
}

.card {
	display: grid;
	place-items: center;
	position: relative;
	isolation: isolate;
	padding-block: 5rem;
	flex-basis: 380px;
	margin-inline: auto;
}
.card:nth-child(1) {
	--color-1: var(--Card1_Color1, #ff0058);
	--color-2: var(--Card1_Color2, #ffbc00);
}
.card:nth-child(2) {
	--color-1: var(--Card2_Color1, #03a9f4);
	--color-2: var(--Card2_Color2, #ff0058);
}
.card:nth-child(3) {
	--color-1: var(--Card3_Color1, #00d0ff);
	--color-2: var(--Card3_Color2, #4dff03);
}
.card::before,
.card::after {
	position: absolute;
	content: "";
	width: 40%;
	height: 100%;
	top: 0;
	left: 50%;
	translate: -50% 0;
	transform: skewX(15deg);
	background: linear-gradient(140deg, var(--color-1), var(--color-2));
	border-radius: 0.5rem;

	z-index: -1;
	transition: all 0.25s ease-in-out;
}
.card::after {
	filter: blur(25px);
}
@media screen and (hover: hover) {
	.card:is(:hover, :focus-within) {
		outline: none;
	}
	.card:is(:hover, :focus-within)::before,
	.card:is(:hover, :focus-within)::after {
		width: 45%;
		transform: skewX(0);
	}
}
.card__content {
	--color-bg: hsla(0, 50%, 100%, 0.1);
	display: grid;
	justify-items: start;
	max-width: 35ch;
	margin-inline: auto;
	gap: 1rem;
	padding: 2rem;
	border-radius: 0.5rem;
	background-color: var(--color-bg);
	backdrop-filter: blur(4px);
}
.card__content h1 {
	font-size: 2rem;
	line-height: 1;
}
.card__content p {
	font-size: 1rem;
	line-height: 1.6;
}
.card__content a {
	font-size: 1rem;
	color: var(--color-black);
	text-decoration: none;
	text-transform: capitalize;
	padding: 0.3em 0.4em;
	border-radius: 0.25rem;
	background-color: rgba(255, 255, 255, 1);
	transition: 0.2s ease;
}
.card__content a:is(:hover, :focus) {
	scale: 1.1;
	outline: none;
}
