*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
}
img,
svg {
	max-width: 100%;
}
ul {
	list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
}
.hidden {
	display: none;
}

.challenges {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem 2rem;
	justify-content: space-evenly;
	border: 3px solid blue;
	max-width: 1600px;
	margin-inline: auto;
	padding: 1rem;
}
.project-card {
	--bg-color: rgb(225, 178, 36);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	border: 3px solid red;
	width: min(100%, 420px);
	aspect-ratio: 2;
	background-color: var(--bg-color);

	& .projet__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	& .projet__title {
		--padding-block: 0.6em;
		--border-radius: var(--padding-block);
		font-size: 1.5rem;
		padding: var(--padding-block);
		padding-top: 0;
		font-weight: 600;
		line-height: 1;
		width: 100%;
		text-align: center;
		position: relative;
		text-transform: capitalize;

		&::after {
			content: "";
			position: absolute;
			inset: calc(-1 * var(--padding-block)) 0 100%;
			border-top-left-radius: var(--border-radius);
			border-top-right-radius: var(--border-radius);
			background: var(--bg-color);
		}
	}
}
